.folder {
  border-bottom: 1px solid black;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background: var(--hoverGray);
  }

  &:first-child {
    border-top: 1px solid black;
  }
}
